[Desktop Entry]
Version=1.0
Type=Link
Name=养虾教程
Icon=/usr/share/icons/AdwaitaLegacy/48x48/legacy/help-browser.png
URL=https://my.feishu.cn/wiki/Q96KwUH1Di3cAik2W7kcQsWKncb
